<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<!-- 配置服务器端实现类 -->
	<beans:bean id="personRepositoryImpl"
		class="com.sq.springRMI.repository.PersonRepositoryImpl">
	</beans:bean>
	<!--这里配置的是client的读超时 -->
	<beans:bean id="rMICustomClientSocketFactory"
		class="com.sq.springRMI.component.RMICustomClientSocketFactory">
		<beans:property name="timeout" value="10000"></beans:property>
	</beans:bean>
	<!--这里配置的是server监听请求超时设置，Integer.MAXVALUE-1s内无请求server端会抛异常 -->
	<beans:bean id="rMICustomServerSocketFactory" class="com.sq.springRMI.component.RMICustomServerSocketFactory">
		<beans:property name="timeout" value="2147483646"></beans:property>
	</beans:bean>
	<!-- 该配置文件应该被Spring的监听器监听，并加载， 启动成功后，服务端就算建好了。如果服务器是在localhost启动的， 那么暴露的RMI的IP也是localhost，如果需要使用其他IP， 
		需要让服务器在其他的IP启动。 -->
	<beans:bean id="userSvcExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<beans:property name="service" ref="personRepositoryImpl" />
		<beans:property name="serviceName" value="personServerService" />
		<beans:property name="serviceInterface" value="com.sq.springRMI.repository.PersonRepository" />
		<beans:property name="registryPort" value="8899" />
		<beans:property name="servicePort" value="10023" />
		<beans:property name="clientSocketFactory" ref="rMICustomClientSocketFactory" />
		<beans:property name="serverSocketFactory" ref="rMICustomServerSocketFactory" />
	</beans:bean>
</beans:beans>