<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="hessianClient"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>http://localhost:8888/common/hessian/service</value>
		</property>
		<property name="serviceInterface">
			<value>com.sq.hession.IHessianClientServiceStand</value>
		</property>
		<!-- 设置是否可以重载方法 -->
		<property name="overloadEnabled">
			<value>true</value>
		</property>
		<!-- 设置响应时间 -->
		<property name="readTimeout">
			<value>100000</value>
		</property>
		<!-- 设置连接时间 -->
		<property name="connectTimeout">
			<value>100000</value>
		</property>
	</bean>
</beans>